<div class="calcBackground">
    
    <div class="calcContainer">
        <h3>Estimate Calculator</h3>
        <br>
        
        <label  for="hours">Input How Many Hours?</label>
        <input class="inputCenter" id="hours" name="hours" type="number" placeholder="0">
        <br>
        <label  for="rate">Gavin's $ Rate Per Hour</label>
        <input class="inputCenter" id="rate" name="rate" type="text" value="100" readonly>
        <br>
        <button class="button" type="button" onclick="calcTotal()">Calculate</button>
        <br>
        <label class="color" for="total">Total Price</label>
        <input class="inputCenter" id="total" name="total" type="text" value="" readonly>
    </div>
</div>
