@{
    ViewData["Title"] = "Home Page";
}
<div class="buck">
    <div class="flex">
        <h1 class="welcome">Smith’s Trophy Hunts</h1>
        <br>
        <p class="welcome2">Guiding you to the hunt of a lifetime</p>
    </div>
</div>
    <div class="twoPics">
        <div class="twoPicsflex">
            <img src="img/Gav&Dad.jpeg" style="height: 300px" alt="GAv and Dad">
            <div class=""></div>
            <img src="img/BullElk.jpg" style="height: 300px" alt="Elk">
            <div class=""></div>
        </div>
    </div>
