@{
    ViewData["Title"] = "Home Page";
}
<div class="buck">
    <div class="flex">
        <h1 class="welcome">Smith’s Trophy Hunts</h1>
        <br>
        <p class="welcome2">Guiding you to the hunt of a lifetime</p>
    </div>
</div>
    <div class="">
        <div class="twoPicsflex">
            <img src="img/Gav&Dad.jpeg" style="height: 300px" alt="GAv and Dad">
            <img src="img/BullElk.jpg" style="height: 300px" alt="Elk">
        </div>
        <div class="paragraphs">
            <p>Hunting has always been one of my favorite hobbies,
                and it’s something I truly love doing with my dad.
                Growing up, I was always involved in sports, but now 
                that I have more free time, I’ve found a real passion
                for being outdoors. Whether it’s pheasant, elk, deer,
                turkey, rabbits, or coyotes, every hunt is an opportunity
                for me to enjoy nature and spend quality time with my dad.
                It’s not just about the thrill of the hunt, but the moments 
                in between—sitting around the campfire, waking up early for 
                a hunt, or just taking in the scenery—that really make it 
                special.</p>
            <p> Since graduating High School I’ve had the time to dive 
                into outdoor activities like camping, fishing, and hunting. 
                I’ve realized how much I love being out in the wild, away 
                from everything. Hunting gives me the chance to challenge 
                myself, enjoy the quiet of the outdoors, and make memories
                with my dad that will last forever. It’s a totally different
                experience than sports, but in its own way, it’s just as 
                fulfilling. Being outdoors, surrounded by nature, is a kind
                of peace and satisfaction that I wouldn’t trade for anything.</p>
        </div>
           
    </div>
